@media (min-width: 800px){
    body{
        background-color: #E3F4FE;
    }
    section#main_cont{
        display: block;
        border: 1px solid black;
        width: 70vw;
        height: 60vh;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border-radius: 20px;
        display: flex;
        background-color: white;
    }

    article#calc_cont{
        width: 50%;
        height: 100%;
        border-radius: 20px 0px 0px 20px;
        padding: 20px;
    }

    /* TITLE */
    div#title_container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }

    p.titl{
        font-weight: bold;
        font-size: 22px;
        color: hsl(200, 24%, 40%);
    }

    button#clear_btn{
        background-color: white;
        font-size: 14px;
        font-weight: bold;
        border: none;
        outline: none;
        color: hsl(200, 24%, 40%);
    }

    button#clear_btn:hover{
        text-decoration: underline;
    }

    /* form start */

    label.form_lab{
        display: block;
        margin-bottom: 10px;
        font-size: 14px;
        color: hsl(200, 24%, 40%);
        font-weight: bold;
    }

    div.input_cont{
        width: 100%;
        border: 1px solid hsl(200, 24%, 40%);
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 40px;
        border-radius: 5px;
    }

    div.input_cont:hover{
        border: 1px solid black;
    }


    p.input_icon_first{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 15%;
        height: 100%;
        background-color: #E2F5FD;
        font-weight: bold;
        color: hsl(200, 24%, 40%);
        border-radius: 5px 0px 0px 5px
    }

    input#iamount{
        width: 100%;
        height: 100%;
        border: none;
        outline: none;
        padding: 0px 0px 0px 20px;
        font-size: 18px;
    }
    /* TWO INPUTS */
    div.container_conttwo{
        display: flex;
        margin: 20px 0px;
    }

    div.container_conttwos{
        width: 50%;
    }

    label.label_conttwos{
        display: block;
        margin-bottom: 10px;
        font-size: 14px;
        color: hsl(200, 24%, 40%);
        font-weight: bold;
    }

    div.inpcont_conttwos{
        border: 1px solid hsl(200, 24%, 40%);
        display: flex;
        margin-right: 10px;
        justify-content: space-between;
        height: 40px;
        border-radius: 5px;
    }

    div.inpcont_conttwos:hover{
        border:  1px solid black;
    }

    input.input_conttwos{
        width: 60%;
        border: none;
        outline: none;
        padding-left: 10px;
    }

    p.input_icon{
        width: 30%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        background-color: #E2F5FD;
        color: hsl(200, 24%, 40%);
        font-weight: bold;
    }

    /* Radio Inputs */

    div.type_cont{
        margin-bottom: 30px;
    }

    div.radiocont{
        display: flex;
        width: 100%;
        height: 40px;
        border: 1px solid hsl(200, 24%, 40%);
        border-radius: 5px;
        padding-left: 20px;
        align-items: center;
        margin-bottom: 10px;
        cursor: pointer;
    }
    
    div.radiocont:hover{
        border: 1px solid hsl(64, 100%, 33%);
    }

    input[type='radio']{
        margin-right: 20px;
    }

    p.radio_label{
        color: hsl(200, 24%, 40%);
        font-weight: bold;
    }

    /* CALC BUTTON */

    button#calc_btn{
        width: 65%;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        border: none;
        outline: none;
        background-color: hsl(61, 70%, 52%);
        font-weight: bold;
        color: hsl(202, 55%, 16%);
        cursor: pointer;
    }

    button#calc_btn:hover{
        background-color: hsla(61, 70%, 52%, 0.749);
    }

    p.calc_text{
        margin-left: 10px;
    }

    /* RESULT ARTICLE */

    article#result_cont{
        width: 50%;
        height: 100%;
        background-color: #133040;
        border-radius: 0px 20px 20px 60px;
        position: relative;
    }

    div.result_main{
        width: 100%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    img.result_image{
        width: 40%;
        margin-bottom: 10px;
        display: block;
        margin: auto;
    }

    p.result_title{
        color: white;
        font-size: 20px;
        text-align: center;
        margin-bottom: 10px;
    }

    p.result_text{
        display: block;
        text-align: center;
        color: rgba(255, 255, 255, 0.601);
        font-size: 14px;
        width: 80%;
        margin: auto;
    }

    /* RESULT SHOW */

    div.result_main{
        /* display: none; */
    }

    div.result_show{
        display: none;
        padding: 30px;
    }
    
    p.result_title_show{
        color: rgba(255, 255, 255, 0.905);
        font-size: 22px;
        font-weight: bold;
        margin-bottom: 20px;
    }

    p.res_show_desc{
        margin-bottom: 20px;
        color: rgba(255, 255, 255, 0.527);
    }

    div.result_values_div{
        background-color: #0E2431;
        border-top: 3px solid #D7D92A;
        border-radius: 10px;
        padding: 20px;
    }

    div.result_value_fdiv{
        border-bottom: 1px solid white;
        padding-bottom: 20px;
    }

    p.result_value_text{
        color: rgba(255, 255, 255, 0.601);
        margin-bottom: 10px;
    }

    p.result_value_num{
        color: rgba(255, 255, 0, 0.777);
        font-size: 38px;
        font-weight: bold;
    }

    div.result_valuesdiv{
        padding-top: 20px;
    }
    p.result_value_snum{
        color: rgba(255, 255, 255, 0.834);
        font-size: 22px;
        font-weight: bold;
    }

    /* REQUIRED ERROR */

    span.required_error{
        display: none;
        position: absolute;
        font-size: 14px;
        color: #D63326;
    }
    span#iradio_required{
        transform: translateY(-6px);
    }

}