@media (min-width: 800px){
    body{
        background-color: #E3F4FE;
    }
    section#main_cont{
        display: block;
        border: 1px solid black;
        width: 70vw;
        height: 60vh;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border-radius: 20px;
        display: flex;
        background-color: white;
    }

    article#calc_cont{
        width: 50%;
        height: 100%;
        border-radius: 20px 0px 0px 20px;
        padding: 20px;
    }

    /* TITLE */
    div#title_container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }

    p.titl{
        font-weight: bold;
        font-size: 22px;
        color: hsl(200, 24%, 40%);
    }

    button#clear_btn{
        background-color: white;
        text-decoration: underline;
        font-size: 14px;
        font-weight: bold;
        border: none;
        outline: none;
        color: hsl(200, 24%, 40%);
    }

    /* form start */

    label.form_lab{
        display: block;
        margin-bottom: 10px;
        font-size: 14px;
        color: hsl(200, 24%, 40%);
        font-weight: bold;
    }

    div.input_cont{
        width: 100%;
        border: 1px solid hsl(200, 24%, 40%);
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 40px;
        border-radius: 5px;
    }

    p.input_icon_first{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 15%;
        height: 100%;
        background-color: #E2F5FD;
        font-weight: bold;
        color: hsl(200, 24%, 40%);
        border-radius: 5px 0px 0px 5px
    }

    input#iamount{
        width: 100%;
        height: 100%;
        border: none;
        outline: none;
        padding: 0px 0px 0px 20px;
        font-size: 18px;
    }
    /* TWO INPUTS */
    div.container_conttwo{
        display: flex;
        margin: 20px 0px;
    }

    div.container_conttwos{
        width: 50%;
    }

    label.label_conttwos{
        display: block;
        margin-bottom: 10px;
        font-size: 14px;
        color: hsl(200, 24%, 40%);
        font-weight: bold;
    }

    div.inpcont_conttwos{
        border: 1px solid hsl(200, 24%, 40%);
        display: flex;
        margin-right: 10px;
        justify-content: space-between;
        height: 40px;
        border-radius: 5px;
    }

    input.input_conttwos{
        width: 60%;
        border: none;
        outline: none;
    }

    p.input_icon{
        width: 30%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        background-color: #E2F5FD;
        color: hsl(200, 24%, 40%);
        font-weight: bold;
    }

    /* Radio Inputs */

    div.type_cont{
        margin-bottom: 20px;
    }

    div.radiocont{
        display: flex;
        width: 100%;
        height: 40px;
        border: 1px solid hsl(200, 24%, 40%);
        border-radius: 5px;
        padding-left: 20px;
        align-items: center;
        margin-bottom: 10px;
    }

    input[type='radio']{
        margin-right: 20px;
    }

    p.radio_label{
        color: hsl(200, 24%, 40%);
        font-weight: bold;
    }

    /* CALC BUTTON */

    button#calc_btn{
        width: 65%;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        border: none;
        outline: none;
        background-color: hsl(61, 70%, 52%);
        font-weight: bold;
        color: hsl(202, 55%, 16%);
    }

    p.calc_text{
        margin-left: 10px;
    }

    /* RESULT ARTICLE */

    article#result_cont{
        width: 50%;
        height: 100%;
        background-color: #133040;
        border-radius: 0px 20px 20px 60px;
        position: relative;
    }

    div.result_main{
        width: 100%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    img.result_image{
        width: 40%;
        margin-bottom: 10px;
        display: block;
        margin: auto;
    }

    p.result_title{
        color: white;
        font-size: 20px;
        text-align: center;
        margin-bottom: 10px;
    }

    p.result_text{
        display: block;
        text-align: center;
        color: rgba(255, 255, 255, 0.601);
        font-size: 14px;
        width: 80%;
        margin: auto;
    }
}