@media (min-width: 810px){
    div#menu_container{
        display: none;
    }

    header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 6vw;
        height: 100px;
    }
    
    div.nav_container{
        display: flex;
        align-items: center;
    }

    button#menu_btn{
        display: none;
    }

    div#desk_menuitem_container{
        margin-left: 40px;
        display: flex;
        gap: 20px;
    }

    a.desk_menuitem{
        text-decoration: none;
        color: hsl(219, 9%, 45%);
        font-weight: bold;
        display: block;
        height: 98px;
        display: flex;
        align-items: center;
    }

    a.desk_menuitem:hover{
        border-bottom: 2px solid hsl(26, 100%, 55%);
    }

    div.nav_container:last-of-type{
        display: flex;
        gap: 50px;
    }

    button#cart_menu{
        background-color: white;
        border: none;
        display: block;
        position: relative;
        cursor: pointer;
    }

    span#cart_icon_qtdv{
        display: none;
        position: absolute;
        transform: translate(-10px, -5px);
        width: 20px;
        border-radius: 50%;
        color: white;
        background-color: #FF7B11;
        font-size: 11px;
    }

    img#profile_img{
        cursor: pointer;
        width: 50px;
    }

    img#profile_img:hover{
        display: block;
        border-radius: 50%;
        border: 2px solid #FF7B11;
    }

    /* ------------------------- */

    section#main_sec{
        display: flex;
        padding: 50px 10vw;
        height: calc(100vh - 100px);
        align-items: center;
    }

    /* CARROSEL */
    article#carrosel_art{
        width: 50%;
    }

    button#left_arrow, button#right_arrow{
        display: none;
    }

    img#desktop_imgdom{
        display: block;
        width: 80%;
        border-radius: 10px;
        margin-bottom: 30px;
    }
    
    div#carrosel_imgcontainer{
        display: flex;
        gap: 5%;
    }

    img.carrosel_img{
        width: calc(65% / 4);
        display: block;
        border-radius: 5px;
        cursor: pointer;
    }

    /* ------------------------ */
    article#others_art{
        width: 50%;
    }

    div.sneaker_detail_cont{
        margin-bottom: 20px;
    }

    p.sneaker_comp{
        font-size: 16px;
        color: gray;
        font-weight: bold;
        margin-bottom: 10px;
    }

    p.sneaker_name{
        font-size: 32px;
        font-weight: bold;
        margin-bottom: 20px;
    }

    p.sneaker_description{
        color: gray;
    }

    div.price_container{
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        gap: 10px;
    }

    p.price_price{
        color: black;
        font-size: 18px;
        font-weight: 800;
    }

    span#price_descont{
        background-color: black;
        color: white;
        border-radius: 5px;
        font-weight: bold;
        width: 40px;
        height: 20px;
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    p.price_before{
        font-weight: 800;
        color: gray;
        font-size: 14px;
        text-decoration: line-through;
    }

    div#qtd_cart_container{
        margin-top: 20px;
        display: flex;
        align-items: center;
    }

    div.qtd_container{
        display: flex;
        background-color: #F7F8FD;
        width: 30%;
        height: 40px;
        align-items: center;
        justify-content: space-between;
        border-radius: 5px;
        margin-right: 10px;
    }
    
    button.qtd_btn{
        background-color: #F7F8FD;
        border: none;
        cursor: pointer;
        width: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
    }

    p#qtd_value{
        color: black;
        font-weight: bold;
    }

    button#cart_btn{
        cursor: pointer;
        display: flex;
        width: 40%;
        height: 40px;
        background-color: hsl(26, 100%, 55%);
        border: none;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        font-weight: bold;
    }

    img#cart_add-icon{
        width: 16px;
        margin-right: 10px;
    }
}