/*------------------MOBILE---------------*/
@media (max-width: 810px){

    div#menu_container{
        display: none;
        /* display: flex; */
        position: absolute;
        height: 100vh;
        width: 100vw;
        z-index: 2000;
    }

    div#menu_container-itens{
        background-color: white;
        width: 60%;
        padding: 20px;
    }

    div#menu_container-shadow{
        width: 40%;
        background-color: rgba(0, 0, 0, 0.707);
    }

    button#menu_closebtn{
        background-color: white;
        border: none;
    }

    div#menu_itens_container{
        padding-top: 4vh;
    }

    a.mob_menuitem{
        display: block;
        color: hsl(220, 13%, 13%);
        font-weight: bold;
        font-size: 22px;
        text-decoration: none;
        margin-bottom: 3vh;
    }

    a.mob_menuitem:last-of-type{
        margin-bottom: 0vh;
    }

}