@media (max-width: 810px){

    /*-----------------HEADER-----------------*/

    header{
        height: 8vh;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
        background-color: white;
        position: sticky;
        top: 0;
        z-index: 1000;
    }

    button#menu_btn{
        background-color: white;
        border: none;
        margin-right: 20px;
    }

    button#menu_btn img{
        width: 20px;
        height: 17px;
    }

    button#cart_menu{
        background-color: white;
        border: none;
        position: relative;
        margin-right: 20px;
    }

    img#cart_menu-icon{
        width: 25px;
    }

    span#cart_icon_qtdv{
        display: none;
        position: absolute;
        transform: translate(15px, -30px);
        width: 20px;
        border-radius: 50%;
        color: white;
        background-color: #FF7B11;
        font-size: 11px;
    }

    img#profile_img{
        width: 25px;
    }

    /*----------------carrosel---------------*/

    article#carrosel_art{
        width: 100%;
        height: 35vh;
        position: relative;
        overflow: hidden;
    }

    button.arrow{
        background-color: white;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
    }

    button.arrow img{
        width: 10px;
    }

    button#left_arrow{
        position: absolute;
        left: 20px;
        top: 50%;
    }

    button#right_arrow{
        position: absolute;
        right: 20px;
        top: 50%;
    }

    img#carrosem_dom{
        width: 100%; 
        height: 100%;
        object-fit: cover;
        display: block;
    }

    img.carrosel_img{
        width: 10px;
        display: none;
    }

    img#desktop_imgdom{
        display: none;
    }

    div#carrosel_imgcontainer{
        display: inline;
    }
    /*----------------OTHERS ARTICLE---------------*/

    article#others_art{
        padding: 20px 20px 0px 20px;
    }

    p.sneaker_comp{
        font-size: 15px;
        margin-bottom: 10px;
        color: gray;
        font-weight: bold;
    }

    div.sneaker_detail_cont{
        padding-bottom: 20px;
    }

    p.sneaker_name{
        color: black;
        font-size: 32px;
        font-weight: 700;
        line-height: 35px;
        margin-bottom: 20px;
    }

    p.sneaker_description{
        font-size: 18px;
        color: gray;
        font-weight: 600;
    }

    div.price_mc{
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }    

    div.price_container{
        display: flex;
        align-items: center;
    }

    p.price_price{
        font-weight: 700;
        font-size: 32px;
        margin-right: 20px;
    }

    span#price_descont{
        width: 60px;
        background-color: black;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 32px;
        border-radius: 5px;
        font-weight: bold;
    }

    p.price_before{
        width: 100%;
        display: block;
        text-align: right;
        font-size: 18px;
        font-weight: bold;
        text-decoration: line-through;
        color: gray;
    }

    /* QTD CONTAINER */

    div.qtd_container{
        background-color: #F7F8FD;
        height: 55px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 20px;
        margin-bottom: 20px;
    }

    button.qtd_btn{
        background-color: #F7F8FD;
        border: none;
        cursor: pointer;
        width: 50px;
        height: 50px;
    }

    button#minus_btn{
        transform: translateY(-4px);
    }

    p#qtd_value{
        font-weight: bold;
        font-size: 18px;
    }

    button#cart_btn{
        width: 100%;
        height: 55px;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        background-color: hsl(26, 100%, 55%);
        color: black;
        font-weight: bold;
        font-size: 18px;
        cursor: pointer;
        box-shadow: 0px 5px 25px hsl(26, 100%, 55%);
    }

    img#cart_add-icon{
        margin-right: 10px;
    }
       
}